<h1>Home#about</h1>
<p>job posting manager home page</p>
<p> there will be a link that goes to home/index that will show what registered users can do</p>
<p> another link that will lead you to a login page / registered users page to log in that will correspond to users/new  </p>
