<!DOCTYPE html>
<style> 

html { 
  background: url(http://static1.squarespace.com/static/544e5ab1e4b05d5a7ff09854/t/54510d52e4b04ee588b3f0a9/1414597973474/Wallpaper-upper-east-side-twilight-new-york-city-nyc-usa2.jpg?format=2500w) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand{
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
/* navbar */
.navbar-brand {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="BootstrapBay.com">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class= "navbar navbar-default navbar-fixed-top" role ="navigation" style="background-color: #e3f2fd;">
    <div class="container">
      <div class="navbar header">
      
            <span class="sr-only">Toggle navigation</span>
            <span class="icon bar"></span>
            <span class="icon bar"></span>
            <span class="icon bar"></span>
        </button>
        <a><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">Menu</button></a>
  </div> 
  <div class= "navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-center">
      <li class="active"><a href="postings">Job Postings</a></li>
      <li><a href="/login">Already Have an Account?</a></li>
      <li><a href="/users/new">Create an Account</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Peter Camp<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Education and Job Search</li>
            <li><a href="#">Link to Star City Code School</a></li>
            <li><a href="#">Job Search Links</a></li>
            <li class="dropdown-header">Portfolio</li>
            <li><a href="#">Soccer Management System</a></li>
            <li><a href="http://camp91783.github.io/w07-d03-tic-tac-toe/">Tic Tac Toe</a></li>
            <li class="dropdown-header">Resources & Media</li>
            <li><a href="http://careerlink.com/lp/brilliant-people-omaha-sumeet-jain-talks-founding-omaha-code-school-advice-new-developers/?utm_source=constantcontact&utm_medium=email&utm_term=brilliantppl&utm_campaign=jobseeker">Interview with School Founder Summeet Jain</a></li>
            <li><a href="http://siliconprairienews.com/2016/01/omaha-code-school-opens-star-city-code-school-in-lincoln/">Interview with Instructor Andrew Ek</a></li>




          </ul>
            <!--</li><a href="#">Contact</a></li>
          </ul>


   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

<!DOCTYPE html>



