<h1>Find-Search-Share</h1>
<p>App to keep track and share with other users in the job hunt</p>


<p><a href="postings">Job Postings</a></p>
<br>
<p><a href="/login">Already Have an Account?</a></p>
<br>
<p><a href="/users/new">Create an Account</a></p>