<!DOCTYPE html>
<html>

<body>

<div class="container">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style type="text/css">
<style>

img   {        
width: 100%; 
height: 100%;
overflow: auto;
  }




</style>


<head>
<nav class="navbar navbar-default navbar-static-top">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Pete Camp </a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
      <li class="active"><%= link_to 'Back to All Users', users_path(@user) %></li>
      <li class="warning"><%= link_to 'Back to All Jobs', postings_path(@posting) %></li>
           <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Education and Job Search</li>
            <li><a href="#">Link to Star City Code School</a></li>
            <li><a href="#">Job Search Links</a></li>
            <li class="dropdown-header">Portfolio</li>
            <li><a href="#">Soccer Management System</a></li>
            <li><a href="http://camp91783.github.io/w07-d03-tic-tac-toe/">Tic Tac Toe</a></li>
            <li class="dropdown-header">Resources & Media</li>
            <li><a href="http://careerlink.com/lp/brilliant-people-omaha-sumeet-jain-talks-founding-omaha-code-school-advice-new-developers/?utm_source=constantcontact&utm_medium=email&utm_term=brilliantppl&utm_campaign=jobseeker">Interview with School Founder Summeet Jain</a></li>
            <li><a href="http://siliconprairienews.com/2016/01/omaha-code-school-opens-star-city-code-school-in-lincoln/">Interview with Instructor Andrew Ek</a></li>
             </ul>
           </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li class="active"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
     	<div class="row">
    		<center><div class="img">
      		<div class="col-md-12">
      		<img src="http://www.lennar.com/images/com/images/new-homes/22/88/mhi/Mount%20Hood_1200x540.jpg" class="img-responsive"></img></center>
    			</div>
  			</div>
			</div>
		<div class="container">
			<div class="row">
			  <div class="border col-xs-12">Job Search Resources</div>
			</div>
			<br>
			<br>
			<div class="row">
			  <div class="border col-xs-4"><a href="www.indeed.com>Indeed"</a>
			  <div class="border col-xs-4">Simply Hired</div> 
			  <div class="border col-xs-4">Monster</div>
			</div>
			<div class="row">
			  <div class="border col-xs-4">CareerBuilder</div>
			  <div class="border col-xs-4">Github</div> 
			  <div class="border col-xs-4">Stack Overflow</div>  
			</div>
					
</body>










