<!DOCTYPE html>
<html>
<p><a href="/">Back Home</a></p>

<p><a href="logout">Logout</a></p>	
<p><a href= "login">Login</a></p>

<head>
  <title>Employment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
